language: php

php:
    - 7.0

before_script:
    - composer install --prefer-source
    - composer require "satooshi/php-coveralls:^1.0"

script:
    - mkdir -p build/logs
    - php tools/phpunit.phar -c phpunit.xml.dist --coverage-text --coverage-clover ./build/logs/clover.xml
    - tools/check-code-cov

after_script:
    - php vendor/bin/coveralls -v
